@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(ellipse at bottom right, #1B2735, #090A0F);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
}

.planet {
    color: #fff;
    position: relative;
    font-size: 3em;
}

.planet:after {
    animation: rotate 2.5s infinite ease-in-out;
    background: dodgerblue;
    border-radius: 50%;
    box-shadow: inset -10px -7px 25px rgba(0, 0, 0, .2);
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    transform: translate3D(70px, -50px, 0);
    top: 10px;
    width: 20px;
}

.construction {
    font-size: 1.5em;
    margin-top: 20px;
    color: #ccc;
}

@keyframes rotate {
    25% {
        height: 30px;
        width: 30px;
    }
    50% {
        transform: translate3D(0px, 100px, 0);
    }
    75% {
        height: 10px;
        width: 10px;
    }
    100% {
        z-index: -1;
    }
}

@media (max-width: 500px) {
    .planet {
        font-size: 1.5em;
    }
    .planet:after {
        height: 15px;
        width: 15px;
        right: 60%;
    }
    .construction {
        font-size: 1em;
    }
}

@media (min-width: 501px) {
    .planet {
        font-size: 4em;
    }
    .planet:after {
        height: 25px;
        width: 25px;
        right: 85%;
    }
    .construction {
        font-size: 2em;
    }
}
